extends ../layout

block content
    a(href='/bicicletas') Volver
    br
    br
    br
    h1 Actualizando Bicicleta
    br
    br
    form(action=`/bicicletas/${bici.id}/update` method='post')
        label(for='id') ID:
        input(type='text' name='id' value= bici.id)
        br
        label(for='color') Color:
        input(type='text' name='color' value= bici.color)
        br
        label(for='modelo') Modelo:
        input(type='text' name='modelo' value= bici.modelo)
        br
        label(for='latitud') Latitud:
        input(type='text' name='lat' value= bici.ubicacion[0])
        br
        label(for='longitud') Longitud:
        input(type='text' name='lng' value= bici.ubicacion[1])
        br
        br
        input(type='submit', value='OK')